.git/
.gitignore

.byebug_history
.rspec
.rubocop.yml
.ruby-version

install.sh

examples/
spec/
tmp/
devlog.md
*.md
LICENSE

.vscode/
.idea/
.DS_Store
*.swp
*~

vendor/
.bundle/

Dockerfile
.dockerignore
docker-compose*.yml